/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


$grid-color: rgba(86, 68, 30, 0.61);


button.toggle-button{
    border:none;
    background: none;
    margin-top: 0.6%;
    cursor: pointer;
    color:white;
}

.mat-toolbar-row, .mat-toolbar-single-row{
    background-color:#3e3924;
}